.header{
    display: flex;
    justify-content: center;
    align-items: center;


    position: relative;

    background-color: white;
    height: 80px;

    & img{
        width: 170px;
        margin-top: 5px;
    }
}