body {
  /*font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;*/
}

header {
  font-family: "Roboto", sans-serif;
}

section {
  font-family: "Roboto", sans-serif;
}

footer p {
  font-family: "Shrikhand", cursive;
}
footer a {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  height: 80px;
}
.header img {
  width: 170px;
  margin-top: 5px;
}

footer {
  background-color: #353535;
  padding: 25px 0px 35px 0px;
}
footer p {
  font-size: 20px;
  margin: 0px 0px 15px 25px;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__lien {
  margin: 10px 0px 0px 25px;
  min-width: 200px;
}
.footer__lien a {
  color: white;
  font-size: 16px;
}
.footer .footer__lien--icon i {
  color: white;
  width: 15px;
  margin-right: 10px;
}

.loader {
  animation: rotate 1s 4, spinner_opacity 3000ms forwards;
  height: 50px;
  width: 50px;
  z-index: 30;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s 4;
  background-color: #FF79DA;
  box-shadow: 30px 0 0 #99E2D0;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s 4;
  background-color: #99E2D0;
  box-shadow: 30px 0 0 #99E2D0;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #99E2D0;
  }
  50% {
    box-shadow: 0 0 0 #99E2D0;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #99E2D0;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #9356DC;
  }
  50% {
    box-shadow: 0 0 0 #9356DC;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #9356DC;
    margin-top: 0;
  }
}
@keyframes spinner_opacity {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.templates_homepage {
  opacity: 0.1;
  animation: body__opacity 4000ms forwards;
}
@keyframes body__opacity {
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 100%;
  }
}
.templates_homepage .header {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19);
}
.templates_homepage .header__research {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
.templates_homepage .header__research i {
  color: #9d9d9d;
  text-align: center;
  padding: 0px 10px 0px 0px;
}
.templates_homepage .header__research p {
  color: #9d9d9d;
  font-size: 17px;
  font-weight: 500;
}
.templates_homepage .header__content {
  width: 100%;
  background-color: #f6f6f6;
}
.templates_homepage .header__content h1 {
  text-align: center;
  margin: 0px 10% 0px 10%;
  padding-top: 50px;
  font-size: 25px;
  font-weight: bold;
}
.templates_homepage .header__content p {
  text-align: center;
  margin: 25px 5% 0px 5%;
  font-size: 19px;
  font-weight: lighter;
}
.templates_homepage .header__content--bouton {
  display: flex;
  justify-content: center;
}
.templates_homepage .header__content--bouton button {
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 20px 20px 20px 20px;
  background-image: radial-gradient(ellipse at 0% 0%, #FF79DA, #9356DC);
  font-size: 17px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19);
}
.templates_homepage .section_1 {
  padding: 50px 0px 60px 0px;
}
.templates_homepage .section_1 h2 {
  margin: 0px 0px 0px 5%;
}
.templates_homepage .fonctionnement__container {
  display: flex;
  flex-wrap: wrap;
}
.templates_homepage .fonctionnement__container .fonctionnement {
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  margin: 25px 7% 0px 7%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19);
}
.templates_homepage .fonctionnement__container .fonctionnement__nombre {
  position: absolute;
  left: -12px;
  top: 22px;
  font-size: 16px;
  color: white;
  padding: 3px 8px 3px 8px;
  margin: auto;
  border-radius: 25px 25px 25px 25px;
  background-color: #9356DC;
}
.templates_homepage .fonctionnement__container .fonctionnement i {
  display: flex;
  align-items: center;
  width: 20px;
  font-size: 18px;
  color: #7e7e7e;
  margin: 0px 30px;
}
.templates_homepage .fonctionnement__container .fonctionnement .icon__color--primary {
  color: #9356DC;
}
.templates_homepage .fonctionnement__container .fonctionnement__paragraphe {
  padding: 7px 0px 7px 0px;
  font-size: 16px;
  font-weight: bold;
}
.templates_homepage .fonctionnement__container .fonctionnement__background--modifier {
  background-color: #f2eafb;
}
.templates_homepage .section_2 {
  background-color: #f6f6f6;
  padding: 50px 0px 60px 0px;
}
.templates_homepage .section_2 h2 {
  margin: 0px 5% 0px 5%;
}
.templates_homepage .menu_container {
  display: flex;
  flex-wrap: wrap;
}
.templates_homepage .menu {
  position: relative;
  width: 100%;
  margin: 20px 20px 0px 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19);
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
.templates_homepage .menu:hover {
  animation: menu__shadowbox 800ms forwards;
}
@keyframes menu__shadowbox {
  100% {
    box-shadow: 0px 0px 15px #9356DC;
    transform: scale(1.01, 1.01);
  }
}
.templates_homepage .menu__icon:hover .coeur__origin {
  animation: icon__coeur__origin 800ms forwards;
}
.templates_homepage .menu__icon:hover .coeur__fade {
  animation: icon__coeur__fade 800ms forwards;
}
.templates_homepage .menu__icon i {
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  right: 25px;
}
.templates_homepage .menu__icon .coeur__fade {
  background-image: radial-gradient(ellipse at 0% 0%, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
@keyframes icon__coeur__origin {
  0% {
    opacity: 1;
    animation-timing-function: cubic-bezier(42, 0, 1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.58);
  }
}
@keyframes icon__coeur__fade {
  0% {
    opacity: 0;
    transform: scale(1.2, 1.2);
    animation-timing-function: cubic-bezier(42, 0, 1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.58);
  }
}
.templates_homepage .menu a {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
}
.templates_homepage .menu__image--settings {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  min-height: 175px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
.templates_homepage .menu__image--settings p {
  color: #1b6150;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 13px;
  right: 10px;
  background-color: #99E2D0;
  padding: 8px 13px 8px 13px;
}
.templates_homepage .menu__content {
  position: relative;
  border-radius: 0px 0px 15px 15px;
  padding-left: 15px;
}
.templates_homepage .menu__content h3 {
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 6px;
}
.templates_homepage .menu__content p {
  font-size: 16px;
  text-decoration: none;
  margin-top: 6px;
}
.templates_homepage .menu__image--1 {
  background-image: url("../../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.templates_homepage .menu__image--2 {
  background-image: url("../../public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.templates_homepage .menu__image--3 {
  background-image: url("../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.templates_homepage .menu__image--4 {
  background-image: url("../../public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.templates_menu {
  background-color: #f6f6f6;
}
.templates_menu .header a {
  position: absolute;
  left: 20px;
}
.templates_menu .menu__background_images {
  width: 100%;
  min-height: 260px;
  background: url("../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.templates_menu .menu__header {
  display: flex;
  align-items: center;
  position: relative;
  margin: -50px 0px 0px 0px;
  padding: 10px 5% 0px 5%;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0px 0px;
}
.templates_menu .menu__header h1 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
}
.templates_menu .menu__header i {
  font-size: 30px;
  position: absolute;
  right: 40px;
}
.templates_menu .menu {
  padding: 0px 5% 0px 5%;
}
.templates_menu .menu__title h2 {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  margin: 20px 0px 30px 0px;
}
.templates_menu .menu__title h2::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.templates_menu .menu .card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
}
.templates_menu .menu .card__container--settings {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fade 900ms ease both;
  background-color: white;
  height: 100%;
  margin: 0px 0px 20px 0px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19);
}
.templates_menu .menu .card__container--settings--1 {
  animation-delay: 100ms;
}
.templates_menu .menu .card__container--settings--2 {
  animation-delay: 200ms;
}
.templates_menu .menu .card__container--settings--3 {
  animation-delay: 300ms;
}
.templates_menu .menu .card__container--settings--4 {
  animation-delay: 400ms;
}
.templates_menu .menu .card__container--settings--5 {
  animation-delay: 500ms;
}
.templates_menu .menu .card__container--settings--6 {
  animation-delay: 600ms;
}
.templates_menu .menu .card__container--settings--7 {
  animation-delay: 700ms;
}
.templates_menu .menu .card__container--settings--8 {
  animation-delay: 800ms;
}
.templates_menu .menu .card__container--settings--9 {
  animation-delay: 900ms;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.templates_menu .menu .card__container--settings:hover .card__container--settings--validation_box {
  display: flex;
  animation: validation_box 600ms forwards;
}
.templates_menu .menu .card__container--settings:hover .validation_icon {
  animation: validation_box_icon 600ms forwards;
}
.templates_menu .menu .card__container--settings:hover .card__container--settings--price {
  animation: prices_margin 600ms forwards;
}
.templates_menu .menu .card__container--settings:hover .card__container--settings--title_and_paragraph {
  animation: text_margin 600ms forwards;
}
.templates_menu .menu .card__container--settings--title_and_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 15px;
}
.templates_menu .menu .card__container--settings h3 {
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.templates_menu .menu .card__container--settings--content {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.templates_menu .menu .card__container--settings--price {
  margin: 25px 20px 5px 0px;
  font-size: 15px;
  font-weight: bold;
}
.templates_menu .menu .card__container--settings--validation_box {
  position: absolute;
  right: 0;
  opacity: 0;
  transform: scaleX(1);
  transform-origin: 100% 50%;
  padding: 23px 18px 23px 18px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
}
.templates_menu .menu .card__container--settings--validation_box i {
  font-size: 15px;
  color: #99E2D0;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  margin: auto;
  padding: 5px 5px 5px 5px;
}
@keyframes validation_box {
  0% {
    transform: scaleX(0);
    opacity: 100%;
  }
  100% {
    transform: scaleX(1);
    opacity: 100%;
  }
}
@keyframes validation_box_icon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prices_margin {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-75px);
  }
}
@keyframes text_margin {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}
.templates_menu button {
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 20px 50px 20px 50px;
  background-image: radial-gradient(ellipse at 0% 0%, #FF79DA, #9356DC);
  font-size: 17px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19);
}

/*# sourceMappingURL=style.css.map */
