body{
    /*font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;*/
}

header{
    font-family: 'Roboto', sans-serif;
}

section{
    font-family: 'Roboto', sans-serif;
}

footer p{
    font-family: 'Shrikhand', cursive;
}