.templates_menu{
    
    background-color: $background_color_1;

    .header{

        & a{
            position: absolute;
            left: 20px;
        }
    }

    .menu__background_images{
        width: 100%;
        min-height: 260px;

        background: url("../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");

        background-size: cover;
        background-position: center;

    }

    .menu__header{
        display: flex;
        align-items: center;

        position: relative;

        margin: -50px 0px 0px 0px;
        padding: 10px 5% 0px 5%;

        background-color: $background_color_1;
        
        border-radius: 35px 35px 0px 0px;
        
        & h1{
            font-size: 25px;
            font-family: 'Shrikhand', cursive;
        }

        & i{
            font-size: 30px;
            
            position: absolute;
            right: 40px;

        }
    }

    .menu{
        padding: 0px 5% 0px 5%;
        
        &__title{

            & h2{
                position: relative;

                font-size: 17px;
                font-weight: 300;

                margin: 20px 0px 30px 0px;
            }
            
            & h2::after{
                content: '';
                width: 50px;
                height: 4px;
                background: #99e2d0;
                position: absolute;
                z-index: 20;
                left: 0px;
                bottom: -8px;
            }
        }


// Card Menu


        .card__container{
            display: flex;
            flex-direction: column;
            
            width: 100%;
            height: 270px;


            &--settings{
                position: relative;
                
                display: flex;
                align-items: center;
                justify-content: space-between;

                animation: fade $anim-dur ease both;
                @for $i from 1 through $num-card {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }


// Animation Menu Apparition Fade


                    @keyframes fade {
                        0%{
                            opacity: 0;
                        }
                        100%{
                            opacity: 1;
                        }
                    }


                &:hover{
                    .card__container--settings--validation_box{
                        display: flex;
                        animation: validation_box 600ms forwards;
                    }
                    .validation_icon{
                        animation: validation_box_icon 600ms forwards;
                    }
                    .card__container--settings--price{
                        animation: prices_margin 600ms forwards;
                    }
                    .card__container--settings--title_and_paragraph{
                        animation: text_margin 600ms forwards;
                    }
                }

                background-color: white;
                height: 100%;
                
                margin: 0px 0px 20px 0px;

                border-radius: 15px 15px 15px 15px;
                box-shadow: 0 6px 10px rgba(0,0,0,0.19);

                &--title_and_paragraph{                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    overflow: hidden;
                    white-space: nowrap;

                    margin-left: 15px;
                }

                & h3{
                    font-size: 18px;
                    margin: 0;

                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &--content{
                    margin: 0;
                    
                    font-size: 15px;
                    font-weight: 300;
                    
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }

                &--price{
                    margin: 25px 20px 5px 0px;
                    font-size: 15px;
                    font-weight: bold;
                }

                &--validation_box{
                    position: absolute;
                    right: 0;

                    opacity: 0;
                    transform: scaleX(1.0);
                    transform-origin: 100% 50%;

                    padding: 23px 18px 23px 18px;
                    
                    border-radius: 0px 15px 15px 0px;

                    background-color: $color_tertiary;

                    & i{
                        font-size: 15px;
                        color: $color_tertiary;

                        background-color: white;
                        border-radius: 25px 25px 25px 25px;

                        margin: auto;
                        padding: 5px 5px 5px 5px;
                        
                    }
                

// Animation Validation Box


                    @keyframes validation_box {
                        0%{
                            transform: scaleX(0);
                            opacity: 100%;
                        }
                        100%{
                            transform: scaleX(1);
                            opacity: 100%;
                        }
                    }

                    @keyframes validation_box_icon {
                        0%{
                            transform: rotate(0);
                        }
                        100%{
                            transform: rotate(360deg);
                        }
                    }

                    @keyframes prices_margin {
                        0%{
                            transform: translateX(-20px);
                        }
                        100%{
                            transform: translateX(-75px);
                        }
                    }

                    @keyframes text_margin {
                        0%{
                            width: 100%;
                        }
                        100%{
                            width: 50%;
                        }
                    }

                }
            }
        }                   
    }


// Button de commande


    & button{
        display: flex;

        margin: auto;
        margin-top: 40px;
        margin-bottom: 80px;
        padding: 20px 50px 20px 50px;

        background-image: radial-gradient(ellipse at 0% 0%, $color_secondary,$color_primary);

        font-size: 17px;
        font-weight: 400;
        color: white;

        border: none;
        border-radius: 50px 50px 50px 50px;
        box-shadow: 0 6px 10px rgba(0,0,0,0.19);

    }

}