.templates_menu{
    
    background-color: $background_color_1;

    .header{

        & a{
            position: absolute;
            left: 20px;
        }
    }

    .menu__background_images{
        width: 100%;
        min-height: 260px;

        background: url("../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");

        background-size: cover;
        background-position: center;

        @media screen and (min-width: 1080px) {
            height: 400px;
        }

    }
    .display_header_et_menu{

        @media screen and (min-width: 1080px){
            max-width: 1200px;
            margin: auto;
            
        }
    }

    .display_menu{

        @media screen and (min-width: 1080px) {
            display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }
    }

    .menu__header{
        display: flex;
        align-items: center;

        position: relative;

        margin: -50px 0px 0px 0px;
        padding: 10px 15px 0px 15px;

        background-color: $background_color_1;
        
        border-radius: 35px 35px 0px 0px;
        
        @media screen and (min-width: 1080px) {
            display: flex;
            justify-content: center;
        }

        & h1{
            font-size: 25px;
            font-family: 'Shrikhand', cursive;
        }

        &__icon{
            &:hover{
                .coeur__origin{
                    animation: icon__coeur__origin 800ms forwards;
                }
                .coeur__fade{
                    opacity: 1;
                    transform: scale(1, 1);
                }
            }

            & i{
                font-size: 30px;
    
                position: absolute;
                top: 35px;
                right: 25px;
            }
    
            .coeur__fade{
                background-image: radial-gradient(ellipse at 0% 0%, $color_primary,$color_secondary);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    
                opacity: 0;
                transition: opacity 800ms, transform 800ms;
            }
        }
        

        @keyframes icon__coeur__origin {
            0%{
                opacity: 1;
                animation-timing-function: cubic-bezier(42,0,1,1);
            }
            20%{
                transform: scale(1.2, 1.2);
            }
            100%{
                opacity: 0;
                transform: scale(1, 1);
                animation-timing-function: cubic-bezier(0,0,.58);
            }
            
        }
    }
    

    .menu{
        padding: 0px 15px 0px 15px;
        
        max-width: 450px;
        &__title{

            & h2{
                position: relative;

                font-size: 17px;
                font-weight: 300;

                margin: 20px 0px 30px 0px;
            }
            
            & h2::after{
                content: '';
                width: 50px;
                height: 4px;
                background: #99e2d0;
                position: absolute;
                z-index: 20;
                left: 0px;
                bottom: -8px;
            }
        }


// Card Menu


        .card__container{
            display: flex;
            flex-direction: column;
            
            width: 100%;

            &--settings{
                position: relative;
                
                display: flex;
                align-items: center;

                padding: 18px 0px 18px 14px;
                overflow: hidden;

                transform: translateY(40px);
                animation: fade $anim-dur ease both;
                @for $i from 1 through $num-card {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }


// Animation Menu Apparition Fade


                    @keyframes fade {
                        0%{
                            opacity: 0;
                            transform: translateY(40px);
                        }
                        100%{
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }


                    &:hover{
                        .card__container--settings--validation_box{
                            display: flex;
                            transform: translateX(0);
                            opacity: 100%;
                            //animation: validation_box 600ms forwards;
                        }
                        .validation_icon{
                            transform: rotate(360deg);
                            //animation: validation_box_icon 600ms forwards;
                        }
                        .card__container--settings--title_and_paragraph{
                            width: calc(calc(100% - #{$taille_prix}) - 61px);
                            //animation: text_width 600ms forwards;
                        }
                    }
    
                    background-color: white;
                    height: 100%;
                    
                    margin: 0px 0px 20px 0px;
    
                    border-radius: 15px 15px 15px 15px;
                    box-shadow: 0 6px 10px rgba(0,0,0,0.19);
    
                    &--title_and_paragraph{   
                        position: relative;
                        width: calc(100% - #{$taille_prix});
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
    
                        overflow: hidden;
                        white-space: nowrap;
    
                        transition: width 600ms ease;
                    }
    
                    & h3{
                        font-size: 18px;
                        margin: 0;
    
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
    
                    &--content{
    
                        margin: 0;
    
                        font-size: 15px;
                        font-weight: 300;
                        
                        overflow: hidden;
                        text-overflow: ellipsis;
                        
                    }
    
                    &--price{
                        position: relative;
                        width: $taille_prix;
                        margin: 20px 0px 0px 10px;
                        font-size: 15px;
                        font-weight: bold;
                    }
    
                    &--validation_box{
                        position: absolute;
                        right: 0;
                        opacity: 1;
                        
                        transform: translateX(100%);
                        transform-origin: 100% 50%;
                        
                        padding: 23px 18px 23px 18px;
                        height: 100%;

                        border-radius: 0px 15px 15px 0px;
    
                        background-color: $color_tertiary;

                        transition: transform 600ms;
    
                        & i{
                            font-size: 15px;
                            color: $color_tertiary;
    
                            background-color: white;
                            border-radius: 25px 25px 25px 25px;
    
                            margin: auto;
                            padding: 5px 5px 5px 5px;
                            
                            transition: transform 600ms;
                        }
                    
    
    // Animation Validation Box
    
    /*
                        @keyframes validation_box {
                            0%{
                                transform: scaleX(0);
                                opacity: 100%;
                            }
                            100%{
                                transform: scaleX(1);
                                opacity: 100%;
                            }
                        }
    
                        @keyframes validation_box_icon {
                            0%{
                                transform: rotate(0);
                            }
                            100%{
                                transform: rotate(360deg);
                            }
                        }
    
                        @keyframes text_width {
                            0%{
                                width: 80%;
                            }
                            100%{
                                width: 62%;
                            }
                        }*/
                    }
                }
            }                   
        }
    

// Button de commande


    & button{
        display: flex;

        margin: auto;
        margin-top: 40px;
        margin-bottom: 80px;
        padding: 20px 50px 20px 50px;

        background-image: radial-gradient(ellipse at 0% 0%, $color_secondary,$color_primary);

        font-size: 17px;
        font-weight: 400;
        color: white;

        border: none;
        border-radius: 50px 50px 50px 50px;
        box-shadow: 0 6px 10px rgba(0,0,0,0.19);

    }

}

@media screen and (max-width: 1080px) {
    .menu{
        margin: auto;
    }
}

@media screen and (min-width: 1080px) {

    footer{
        padding-bottom: 70px;

        & p{
            
            margin-bottom: 30px;
        }
    }

}

